body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

main {
    display: flex;
    justify-content: center;
}

.document {
    flex: 1;
    max-width: 790px;
    min-height: 100vh;
    border: solid #D8D8D8;
    border-width: 0 1px;
    padding: 30px;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .document {
        border: none;
    }
}

.document > :first-child {
    margin-top: 0px !important;
}

.sidebar {
    max-width: 200px;
    padding: 30px;
}

.sidebar h1 {
    margin: 0 0 16px;
    text-align: center;
}

.contents {
    float: right;
}

.toc {
}

.toc .current {
    font-weight: bold;
}
.toc > ul {
    list-style-type: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #EEE;
}


h2 {
    padding-bottom:0.3em;
    font-size:1.75em;
    line-height:1.225;
    border-bottom:1px solid #eee
}

h3 {
    font-size:1.5em;
    line-height:1.43
}

h4 {
    font-size:1.25em
}

h5 {
    font-size:1em
}

h6 {
    font-size:1em;
    color:#777
}

p, blockquote, ul, ol, dl, table, pre {
    margin-top:0;
    margin-bottom:16px
}

hr{
    height:4px;
    padding:0;
    margin:16px 0;
    background-color:#e7e7e7;
    border:0 none
}

ul,ol{
    padding-left:2em
}

ul.no-list,ol.no-list{
    padding:0;
    list-style-type:none
}

ul ul,ul ol,ol ol,ol ul{
    margin-top:0;
    margin-bottom:0
}

li>p{
    margin-top:16px
}

dl{
    padding:0
}

dl dt{
    padding:0;
    margin-top:16px;
    font-size:1em;
    font-style:italic;
    font-weight:bold
}

dl dd{
    padding:0 16px;
    margin-bottom:16px
}

blockquote{
    padding:0 15px;
    color:#777;
    border-left:4px solid #ddd
}

blockquote>:first-child{
    margin-top:0
}

blockquote>:last-child{
    margin-bottom:0
}

pre, code {
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    background-color: #F7F7F7;
    font-size: 85%;
    word-wrap: normal;
    border-radius: 3px;
}

pre {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
}

code {
    padding: 0.2em 0px;
}

code:before,
code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

a {
    color: #4183C4;
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
    outline: none;
}
